h1,
h2,
h3,
h4,
h5 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
	--primary: #b8001f;
	--primary-darker: #92041c;
	--primary-lighter: #dc1032;
	--secondary: #d5b522;
	--secondary-darker: #b69919;
	--tertiary: #628395;
	--tertiary-darker: #4b6674;
}
header {
	background-color: var(--primary);
	color: var(--secondary);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    min-height: 80px;
    height: max-content;
}
header > span {
	display: flex;
	/* border: 1px solid white; */
	flex-basis: 100%;
	flex-shrink: 1;
	flex-grow: 1;
    min-height: max-content;
}
#logo {
    position: absolute;
    left: 0;
    top: 0;
}
header > span:nth-child(1) {
    justify-content: center;
}
header > span:nth-child(2) {
    justify-content: right;
	align-items: right;
}
header > span > p {
    font-weight: bolder;
	font-size: 240%;
}
header a {
    text-decoration: none;
	color: var(--secondary);
	text-align: center;
	font-weight: bolder;
	font-size: 1.5em;
    padding: 0 1em;
    margin: 0px 0px;
    align-content: center;
}
header a:hover {
	background-color: var(--primary-lighter);
}
body {
	background-color: var(--tertiary-darker);
	height: 100vh;
}
main {
	width: 94%;
	margin: 3em auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
button,
.our-button {
	background-color: var(--secondary);
	color: black;
    border: 1px solid var(--secondary-darker);
}
button:hover,
.our-button:hover {
    background-color: var(--secondary-darker);
	color: black;
    border: 1px solid var(--secondary-darker);
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
	background-color: var(--primary);
	color: white;
	text-align: center;
}
